<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="imgs/ieee.jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>
    
    <section id="excomm">
        <div class="container text-center">
            <div id="team">
                <h3 class="text-start">Executive Committee 2020-2021</h2>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Ashrith Rao.jpg" >
                    <h3>Ashrith Rao</h3>
                    <h4>Chair-Person</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/neha reddy.jpeg">
                    <h3>Neha Reddy</h3>
                    <h4>General Secretary</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/sengar vikrant.jpg">
                    <h3>Sengar Vikrant</h3>
                    <h4>Vice Chair-Person</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/akshara yeldandi.jpeg">
                    <h3>Akshara Yeldandi</h3>
                    <h4>Joint Secretary</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/Akshath Rao.jpeg">
                    <h3>Akshath Rao</h3>
                    <h4>Treasurer</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/Kaushik Kondu.jpeg">
                    <h3>Kaushik Kondu</h3>
                    <h4>Organizing Head</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/Prajjval Raj.jpg">
                    <h3>Prajjval Raj</h3>
                    <h4>Public Relations</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/bhavan voram.jpg">
                    <h3>Bhavan Voram</h3>
                    <h4>Marketing Head</h4>
                </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/parnika jonnalagadda.png">
                    <h3>Parnika JVN</h3>
                    <h4>Documentation Head</h4>
                 </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/Chetana Kommi.jpg">
                    <h3>Chetana Kommi</h3>
                    <h4>Publicity Head</h4>
                 </div>
                 <div class="col-md-4">
                    <img src="public/imgs/excomm/Ashrith Rao.jpg">
                    <h3>Charan Teja</h3>
                    <h4>Designing Head</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Aashrita Reddy.jpeg">
                    <h3>C Aashrita</h3>
                    <h4>WIE Chair</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Akanksha Asthana.jpg">
                    <h3>Akanksha Asthana</h3>
                    <h4>WIE Vice-Chair</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Lohit Varma.jpg">
                    <h3>Lohit Varma</h3>
                    <h4>CS Chair</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Animesh Kumar.jpg">
                    <h3>Animesh Kumar</h3>
                    <h4>CS Vice-Chair</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/rintu sairohith.jpg">
                    <h3>Sai Rohith</h3>
                    <h4>PES Co-Chair</h4>
                </div>
                <div class="col-md-4">
                    <img src="public/imgs/excomm/Ruhie.jpg">
                    <h3>Ruhie</h3>
                    <h4>PES Co-Chair</h4>
                </div> 
                </div>

          
        </div>
    </section>


    


{{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
